<footer>
	<div class="container" id="footer">
			<a href="https://twitter.com/newswrthyvision" target="_blank" class="btn btn-social-icon btn-twitter">
	        <span class="fa fa-twitter fa-2x"></span>
	    </a>
	    <a href="https://uk.linkedin.com/in/nicksmitheng" target="_blank" class="btn btn-social-icon btn-linkedin">
	        <span class="fa fa-linkedin-square fa-2x" aria-hidden="true"></span>
	    </a>
	    <a href="https://vimeo.com/newsworthyvision" target="_blank" class="btn btn-social-icon btn-vimeo">
	        <span class="fa fa-vimeo fa-2x" aria-hidden="true"></span>
	    </a>
	    <h6>Copyright {{getCurrentYear}} Newsworthy Vision Ltd. - Registered in England and Wales #07237420</h6>
	</div>

	<!-- Bootstrap JS CDN -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</footer>
