<header>
	*/ All of the items within this are in the header
	<h1>{{pageTitle}}</h1>
	<p><a href="/">Here</a> - <a href="/somewhereelse">/somewhereelse</a> - <a href="/anotherplace">/anotherplace</a>
	Place appropriate links within server.js & here when required
	*/
</header>
