<header>
	    <head>
	        <!-- Make site responsive on mobile/tablet -->
	        <meta name="viewport" content="width=device-width, initial-scale=1">
	        <title>Newsworthy Vision Ltd.</title>
	        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	        <link rel="stylesheet" href="/css/main.css">
	        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	    </head>
	    <body>
	        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="/">
	                    <img alt="Newsworthy Vision Ltd." src="/images/logo2016v2.png">
	                </a>
	            </div>
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav">
	                    <li><a href="/about">About</a></li>
	                    <li><a href="/equipment">Kit Hire</a></li>
	                    <li><a href="/portfolio">Portfolio</a></li>
											<li><a href="/blog">Blog</a></li>
	                </ul>
	                <ul class="nav navbar-nav navbar-right">
	                    <li><a href="mailto:contact@newsworthyvision.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;contact@newsworthyvision.com</a></li>
	        <li><a href="tel:+447575701535"><span class="glyphicon glyphicon-earphone"></span>&nbsp;+44 (0)7575 701535</a></li>
	                </ul>
	            </div>
	        </div>
	    </nav>
</header>
