<!DOCTYPE html>
<html>
<head>
	<title>Newsworthy Vision Ltd. - Equipment</title>
	<style>
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #1b1212;
}
</style>
</head>
<body>
	{{> header}}
	<div class="container-fluid" id="body">
	    <div class="container" id="page-header">
	        <h1><span id="headline">Equipment</span></h1>
	        <hr>
	        <h3><span id="subheadline">Available for hire, with or without crew</span></h3>

					<!-- The Dream here would be to have a database running,
					with all of the equipment being dynamic information running
					on a database. That way, the information in the database would fill the Modal
					containing the information about each piece. It'll take more effort to setup
					but the code here will be minimized as a result. -->
	        <span id="content">
	            <div class="row">
	                <div class="container col-md-12">
										<button class="collapsible">Cameras</button>
										<div class="content">
											<p><li><a href="">Canon 5D Mark II</a></li>
												<li><a href="">GoPro 5 Hero Black</a></li>
												<li><a href="">Sony PMW-F5 Camera</a></li>
												<li><a href="">Sony EX3 Camera</a></li>
											</p>
										</div>
										<button class="collapsible">Lenses</button>
										<div class="content">
											<p><li><a href="">(EF) Canon 24-70mm 2.8L</a></li>
												<li><a href="">(EF) Canon 50mm 1.2L</a></li>
												<li><a href="">(EF) Canon 70-200mm 2.8L IS III USM</a></li>
												<li><a href="">(B4) Canon HJ11 Wide Angle</a></li>
											</p></div>
											<button class="collapsible">Lighting</button>
											<div class="content">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
											</div>
											<button class="collapsible">Audio</button>
											<div class="content">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
											</div>
											<button class="collapsible">Miscellaneous</button>
											<div class="content">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
											</div>
	                	</div>
	            	</div>
	            	<hr>
	        	</span>
	    	</div>
			</div>
			<script>
			var coll = document.getElementsByClassName("collapsible");
			var i;

			for (i = 0; i < coll.length; i++) {
	  		coll[i].addEventListener("click", function() {
	    		this.classList.toggle("active");
	    		var content = this.nextElementSibling;
	    		if (content.style.maxHeight){
	      		content.style.maxHeight = null;
	    		} else {
	      		content.style.maxHeight = content.scrollHeight + "px";
	    		}
	  		});
			}
		</script>
		{{> footer}}
	</body>
</html>
