<!DOCTYPE html>
<html>
<head>
	<title>Newsworthy Vision Ltd. - Error</title>
</head>
<body>
	{{> header}}
	<div class="container-fluid" id="body">
	    <div class="container" id="page-header">
	        <h1><span id="headline">Page not found</span></h1>
	        <hr>
	        <h3><span id="subheadline">Not sure what you were trying to find, but it's not here.</span></h3>
	        <span id="content">
	            <div class="row">
	                <div class="container col-md-12">
	            </div>
	            <hr>
	        </span>
	    </div>
	</div>

	{{> footer}}
</body>
</html>
