<!DOCTYPE html>
<html>
<head>
	<title>Newsworthy Vision Ltd.</title>
</head>
<body>
	{{> header}}

	<img id="image-background" src="/images/_MG_2880.png">

	<div class="container-fluid" id="body">
	    <div class="container" id="page-header">
	        <h1 align="center"><span id="headline">Experienced provider of ENG/EFP broadcast services</span></h1>
	        <hr>
	        <h4 align="center">
	            <span id="subheadline" text-align="center">Based in London, United Kingdom, specialising in International Newsgathering and Current affairs
	            </span>
	        </h4>
	        <hr>
	        <span id="content">
	            <div class="row">
	                <div class="col-md-6">
	                    <figure class="cap-left">
	                    <img class="img-rounded img-fill" src="/images/snowgraylingiv.jpg" class="img-responsive" alt="" title="Interview with Chris Grayling MP and Jon Snow of Channel Four">
	                    <figcaption>Interview with Chris Grayling MP, and Jon Snow of Channel Four</figcaption>
	                    <p>
	                    <h5 align="center">Breaking news & current affairs</h5></p>
	                    </figure>
	                </div>
	                <div class="col-md-6">
	                    <figure class="cap-left">
	                    <img class="img-rounded img-fill" src="/images/_MG_9279.jpg" class="img-responsive" alt="Image" title="Covering the pilgrimage of Shiite Muslims from Baghdad to Karbala, Iraq, 2011">
	                    <figcaption>Covering the pilgrimage of Shiite Muslims from Baghdad to Karbala, Iraq, 2011</figcaption>
	                    <p>
	                    <h5 align="center">Hostile environment trained and experienced</h5></p>
	                    </figure>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-md-6">
	                    <figure class="cap-left">
	                    <img class="img-rounded img-fill" src="/images/downingstreetbbc.jpg" class="img-responsive" alt="Image" title="Live hosting of BBC News, at 10 Downing Street, for the EU referendum announcement">
	                    <figcaption>Live hosting of BBC News, 10 Downing St., for the EU referendum</figcaption>
	                    <p>
	                    <h5 align="center">Live event broadcasting</h5></p>
	                    </figure>
	                </div>
	                <div class="col-md-6">
	                    <figure class="cap-left">
	                    <img class="img-rounded img-fill" src="/images/dejerocrop.jpg" class="img-responsive" alt="Image" title="Live streaming via Dejero, i/v with Ringo Starr, for Network TEN Australia">
	                    <p>
	                    <figcaption>Live streaming via Dejero, i/v with Ringo Starr, for Network TEN Australia</figcaption>
	                    <h5 align="center">IP live streaming to broadcasters, or direct to various online services</h5></p>
	                    </figure>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-md-6">
	                    <figure class="cap-left">
	                    <img class="img-rounded img-fill" src="/images/airbuseng.jpg" class="img-responsive" alt="Image" title="Filming on a PMW-F5 at Airbus Aerospace in Stevenage, UK">
	                    <figcaption>Filming on a PMW-F5 at Airbus Aerospace in Stevenage, UK</figcaption>
	                    <p>
	                    <h5 align="center">Features & long-form broadcasting</h5></p>
	                    </figure>
	                </div>
	                <div class="col-md-6">
	                    <figure class="cap-left">
	                    <img class="img-rounded img-fill" src="/images/corporateeventlive.jpg" class="img-responsive" alt="Image" title="Live streaming a Capital Markets Day event for Webcast.no">
	                    <figcaption>Live streaming a Capital Markets Day event for Webcast.no </figcaption>
	                    <p>
	                    <h5 align="center">Corporate events</h5></p>
	                    </figure>
	                </div>
	            </div>
	            <hr>
	        <div class="row">
	            <div class="col-sm-6">
	                <strong>Regularly hired as an ENG Camera Operator & Editor by the following agencies:</strong>
	                <ul>
	                    <li class="text-left">CNN International</li>
	                    <li class="text-left">British Broadcasting Corporation</li>
	                    <li class="text-left">Sky News</li>
	                    <li class="text-left">Canadian Broadcasting Corporation</li>
	                    <li class="text-left">Australian Broadcasting Corporation</li>
	                    <li class="text-left">TEN Network Australia</li>
	                    <li class="text-left">American Broadcasting Company</li>
	                </ul>
	            </div>
	                <div class="col-sm-6">
	                <strong align="center">Equipment available for wet or dry hire:</strong>
	                    <ul>
	                        <li class="text-left">Sony PMW-F5 Camera</li>
	                        <li class="text-left">Sony PMW-EX3 Camera </li>
	                        <li class="text-left">Canon 5D Mark II SLR Camera</li>
	                        <li class="text-left">Sennheiser and Sony Wireless audio kits</li>
	                        <li class="text-left">Litepanels LED & Dedolight lighting kits</li>
	                        <li class="text-left">Adobe Premiere Pro, Creative Cloud edit & Dejero live streaming machines</li>
	                        <li class="text-left">Remote IFB & 4G Transmission equipment</li>
	                    </ul>
	                </div>
	                </div>
	        </span>
	        </div>
	    </div>
	</div>

	{{> footer}}
</body>
</html>
