<!DOCTYPE html>
<html>
<head>
	<title>Newsworthy Vision Ltd. - Portfolio</title>
</head>
<body>
	{{> header}}
	<div class="container-fluid" id="body">
	    <div class="container" id="page-header">
	        <h1><span id="headline">Portfolio</span></h1>
	        <hr>
	        <h3><span id="subheadline"></span></h3>
	        <span id="content">
	            <div class="row">
	                <div class="container col-md-6">
	                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus in arcu non imperdiet. Phasellus efficitur euismod felis, vel eleifend nibh posuere in. Quisque blandit laoreet mauris at mollis. Suspendisse non felis auctor, posuere elit et, scelerisque neque. In nec laoreet tortor. Nam tincidunt, nunc sed consequat tincidunt, eros enim condimentum eros, et viverra sapien diam ut dolor. Phasellus efficitur vitae neque a semper.
	                    </p>
	                    <p>Integer iaculis, quam sodales dignissim viverra, ex neque aliquam ipsum, at blandit augue nulla vel turpis. Sed metus tellus, posuere fermentum quam eu, luctus rutrum orci. Duis nec arcu molestie, congue leo quis, vestibulum erat. Suspendisse vitae odio sit amet purus malesuada ultrices in nec nibh. Duis imperdiet quam non ante rhoncus consectetur. Vestibulum in metus eget ligula aliquam viverra vel sed tortor. Suspendisse sit amet risus mattis, pretium nulla sed, consequat urna. Maecenas vel vulputate ipsum. Quisque tempor rutrum orci interdum aliquet. Donec mi lectus, luctus non congue in, lobortis eget justo. Fusce mauris odio, suscipit accumsan est eu, auctor fringilla est. Curabitur consectetur erat vel consectetur ultricies. Nulla dapibus vel lorem quis luctus. Donec non fringilla erat.
	                    </p>
	                </div>

	                <div class="container col-md-6">
	                    <img class="img-responsive img-rounded" src="http://via.placeholder.com/600x300" alt="" title="Covering the Australian rowing team training in Varese, Italy, in 2012 for ABC Australia">
	                </div>
	            </div>
	            <hr>
	        </span>
	    </div>
	</div>

	{{> footer}}
</body>
</html>
